.title {
    letter-spacing: .1rem;
    background: linear-gradient(86.79deg, #1B4388 4.66%, #1E90C2 96.55%, rgba(0, 0, 0, 0) 96.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hr {
    width: 25%;
    margin: 10px auto;
    border-radius: 5px;
    color: #1B4388;
}

hr:not([size]) {
    height: 2px !important;
}

.trailer-btn, .see-all-reviews-btn {
    background-color: #1B4388;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    transition: all 200ms;
    text-transform: capitalize;
}

.see-all-reviews-btn {
    text-decoration: none;
    padding: 8px 25px;
}

.trailer-btn:hover, .see-all-reviews-btn:hover {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}